.node {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &.active {
    .nodeLabel {
      color: var(--doc-c7);
      font-weight: bold;
    }
  }
}
.nodeIcon {
  flex: none;
  margin-top: 2px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
.nodeLabel {
  flex: 1;
  color: var(--doc-c6);
  &:hover {
    text-decoration: underline;
  }
}
