.fade {
  visibility: hidden; 
  opacity: 0;
  transition: all 0.1s linear;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}
.title, .line, .image {
  background-color: var(--doc-c1);
  &:not(:first-child) {
    margin-top: 16px;
  }
}
.title {
  width: 40%;
  height: 18px;
}
.line {
  height: 12px;
}
.image {
  width: 25%;
  height: 64px;
}