.title {
  line-height: 30px;
  font-size: 22px;
  font-weight: 600;
  color: var(--doc-c6);
  padding: 0;
  margin: 0 0 16px;
}
.banner {
  display: block;
  margin-bottom: 16px;
  border-radius: 16px;
  width: auto;
  max-width: 100%;
}
