:root {
  --doc-c1: rgba(0,0,0,.1);
  --doc-c2: rgba(0,0,0,.2);
  --doc-c3: rgba(0,0,0,.3);
  --doc-c4: rgba(0,0,0,.4);
  --doc-c5: rgba(0,0,0,.6);
  --doc-c6: rgba(0,0,0,.8);
  --doc-c7: rgb(88,86,214);
  --doc-c8: rgb(255,255,255);
  --doc-c9: rgba(244,248,252,.8);
  --doc-c10: rgb(227,230,233);
  --doc-c11: rgb(153,153,153);
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  color: var(--doc-c6);
  background-color: var(--doc-c10);
}
.side {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  line-height: 20px;
  color: var(--doc-c6);
}
.phone {
  .side {
    z-index: 1001;
    min-width: 258px;
    max-width: 360px;
    background-color: var(--doc-c10);
  }
  .menu {
    position: absolute;
    width: 50px;
    height: 28px;
    left: 16px;
    top: 40px;
    z-index: 1;
    border-radius: 5px;
    background-color: var(--doc-c8);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 6px 0 var(--doc-c1);
  }
  .mask {
    background-color: var(--doc-c5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
}
.wrapper {
  min-width: 1650px;
  .side {
    width: calc(50% - 475px);
    padding-left: calc(50% - 725px);
    padding-right: 24px;
  }
  .main {
    padding-left: calc(50% - 475px);
    padding-right: calc(50% - 725px);
  }
}
.wrapper.middle {
  min-width: 1150px;
  .side {
    width: 350px;
    padding-left: 100px;
    padding-right: 24px;
  }
  .main {
    padding-left: 350px;
    padding-right: 100px;
  }
}
.wrapper.small {
  min-width: 898px;
  .side {
    width: 274px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .main {
    padding-left: 274px;
    padding-right: 24px;
  }
}
.wrapper.phone {
  min-width: 360px;
  .side {
    width: 258px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
