.xrdocside {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  .cl:not(:first-child) {
    margin-top: 16px;
  }
  .cs:not(:first-child) {
    margin-top: 8px;
  }
  .rl:not(:first-child) {
    margin-left: 16px;
  }
  .rs:not(:first-child) {
    margin-left: 8px;
  }
  .icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    .mainicon {
      width: 100px;
      height: 100px;
    }
    .subicon {
      width: 40px;
      height: 40px;
    }
  }
  .name {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .desc {
    font-size: 16px;
  }
  .kinds {
    display: flex;
    flex-flow: row nowrap;
    .version {
      width: 96px;
    }
    .language {
      flex: 1;
    }
  }
  .collection {
    border: none;
  }
}