.arkdocwidescreen {
  width: 100%;
  height: 100%;
  .side {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &.large {
    min-width: 1600px;
    .side {
      width: calc(50% - 380px);
      padding-left: calc(50% - 700px);
      padding-right: 60px;
    }
    .main {
      padding-left: calc(50% - 380px);
      padding-right: calc(50% - 700px);
    }
  }
  &.normal {
    min-width: 1350px;
    .side {
      width: 420px;
      padding-left: 100px;
      padding-right: 60px;
    }
    .main {
      padding-left: 420px;
      padding-right: 100px;
    }
  }
  &.middle {
    min-width: 1160px;
    .side {
      width: calc(50% - 200px);
      padding-left: calc(50% - 520px);
      padding-right: 60px;
    }
    .main {
      padding-left: calc(50% - 200px);
      padding-right: calc(50% - 520px);
    }
  }
  &.small {
    min-width: 1000px;
    .side {
      width: 320px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .main {
      padding-left: 320px;
      padding-right: 30px;
    }
  }
}